[Unit]
Description=lumoctl
After=mysql.service

[Service]
ExecStart=/path/to/dir/app
WorkingDirectory=/path/to/dir

[Install]
WantedBy=multi-user.target
